.headline{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-style: bold;
  font-family: 'Montserrat', sans-serif;
}

.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p{font-family:georgia, serif;
  line-height: 180%;
}

.chapterheader{
  font-size: 2em;
  font-weight: 700;
  font-family:'Montserrat', sans-serif;
  font-style: bold;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
figcaption {
  color: grey;
  font-style: italic;
  text-align: center;
}

.footer{
  text-align: center;
  background-color: black;
  font-weight: 600;
  style: bold;
  color: : white;
  font-size: 1em;

}
