/*Main Style*/

body{
font-family: 'Open Sans', Arial, sans-serif;
font-size: 1em;
color: #444;
font-weight: 400;

}

#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

strong {
  color:#33485e;
  text-transform: uppercase;
  font-size: 1.5em;

}

.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color:#33485e;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 70%;
  min-width: 300px;
}

.jobtitle{
  font-weight: 600;
  font-size: 1em;
}

.organization{
  font-weight: 400;
  font-size: 1.25em;
}

ul{font-size: 1em;}
