/*Main Style*/

body{
font-family: 'Open Sans', Arial, sans-serif;
font-size: 1em;
color: #444;
font-weight: 400;

}

#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
}

strong {
  color:#33485e;
  text-transform: uppercase;
  font-size: 1.5em;

}

h2{
  font-size: 1.5em;
  text-transform: uppercase;
  background-color:#33485e;
  color: #fff;
}

h3{
  font-weight: 600;
  font-size: 1em;
}

h4{
  font-weight: 400;
  font-size: 1.5em;
}

ul{font-size: 1em;}
