/*Main Style*/

body{
font-family: 'Open Sans', Arial, sans-serif;
font-size: 1em;
color: #444;
font-weight: 400;

}
#container{
  width:100%;
  max-width: 1200px;
  margin:0 auto;
}

#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

.title {
  color:#33485e;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  margin-top: 20px;

}

.containtersec

.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color:#33485e;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 100%;
  min-width: 300px;
}

.jobtitle{
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 2px;
  text-align: center;
  font-family: Montserrat;

}


.organization{
  font-weight: 400;
  font-size: 1.25em;
}
.date{
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  margin-top: 2px;
}

ul{font-size: 1em;}

.description{
  margin-bottom: 10px;
  margin-top: 10px;
}

.menu{
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin: 0 auto;
  display:inline;
}

#degrees{
  margin-top: 5px
}

#do{
margin-top: 5px
}
