

#content {
  margin: 0 auto;
  width: 900px;
}


#masthead{
  text-align: center;
  padding: 6px;
  background-color: gray;
  color: white;
  margin-bottom: 10px;
  font-size: 3em;
  }

h1{font-family: Helvetica, sans-serif;
font-size: 30px;
letter-spacing: 2px;
text-align: center;

}

h2{
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-style: normal;

}

h3{
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  font-weight: normal;
  text-align: center;
  font-style: normal;
}

h4{
  text-align: center;
  font-style: italic;
  font-family: Helvetica, sans-serif;
  font-weight:normal;
  color: gray;

}

h5{
font-family: Helvetica, sans-serif;
font-size: 20px;
font-weight: bold;
font-style: normal;
letter-spacing: 2px;
text-align: center;

}

ul{
  letter-spacing: 1px;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0em;

}




.figure{
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight:normal;
  font-size: 12px;



}

blockquote {
font: 24px helvetica, sans-serif;
font-style: italic;
font-weight: bold;
margin-top: 15px;
margin-bottom: 15px;
color:navy;
margin-left: 50px;
padding-left: 15px;
border-left: 4px solid #ccc;
letter-spacing: 1px;
}










#byline{
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
text-align: center;

}



p{font-family: Georgia, serif;
font-size: 13px;


}
