#content{
  margin: 0 auto;
  width: 900px;
}

#masthead{
  padding: 10px;
  background-color: navy;
  color: white;
  margin-bottom: 10px;
  font-size: 2em;
  font-family: 'Dela Gothic One', cursive;
  font-weight: bold;
  text-align: center;
  letter-spacing:5px;


}



/* h1 is used for the headline */

h1{
  font-family: Helvetica, sans-serif;
font-size: 29px;
letter-spacing: 2px;
text-align: center;

}

.subhead{

  font-family: Helvetica, sans-serif;
  font-size:18px;
  letter-spacing: 2px;
  font-weight: bold;
  text-indent: 1%;
}



#byline{
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: normal;
text-align: center;
font-weight: bold;
color: grey;
letter-spacing: 2px;
}

p{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: 0px;
  margin-left: 0px;
  line-height: 145%;

}

.figure
{
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight:normal;
  font-size: 10px;


}

.photosource{
  text-align: center;
  font-style: italic;
  font-family: Helvetica, sans-serif;
  font-weight:normal;
  color: gray;
  font-size: 9px;

}

blockquote {
font: 20px helvetica, sans-serif;
font-style: italic;
font-weight: bold;
margin-top: 15px;
margin-bottom: 15px;
color:navy;
margin-left: 50px;
padding-left: 15px;
border-left: 6px solid gray;
letter-spacing: 2px;
}

ul{
  letter-spacing: 1px;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0em;

}



h5{
font-family: Helvetica, sans-serif;
font-size: 17px;
font-weight: bold;
font-style: normal;
letter-spacing: 2px;
text-align: center;
margin-bottom: 15px;



}
